@model HomeVM
@{
    ViewData["Title"] = "Home";
}

<section class="py-5 text-center container">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">EtecShop</h1>
            <p class="lead text-muted">Seu ponto de compras na internet.</p>
        </div>
    </div>
</section>

<main>
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="group text-center mb-5">
                <a class="btn btn-secondary" asp-action="Produtos">
                    Todas as Categorias
                </a>
                @foreach (var categoria in Model.Categorias)
                {
                    <a class="btn btn-secondary" asp-action="Produtos" asp-route-id="@categoria.Id">@categoria.Nome</a>
                }
            </div>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                @foreach (var produto in Model.Produtos)
                {
                    <div class="col cursor-pointer"
                        onclick="window.location='@Url.Action("Produto", "Home", new{ id = produto.Id})'">
                        <div class="card shadow-sm py-4 pb-0">
                            <img class="img-fluid px-4" src="@produto.Foto" alt="@produto.Nome">
                            <div class="card-body px-4">
                                <p class="card-text fw-bold lh-1">@produto.Nome</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <label class="fs-4 fw-bolder">R$ @produto.Preco.ToString("N2")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

<footer class="text-muted py-3">
    <div class="container pb-3">
        <p class="float-end mb-1">
            <a href="#"><i class="bi bi-arrow-up-circle fs-5"></i></a>
        </p>
        <p class="mb-0">Para maiores informações entre em contato com nossa Loja.</p>
    </div>
</footer>